<div class="container">
  <h4>Usuarios</h4>
  <div class="row">
    <div class="col-sm">
      <div class="card grey lighten-2 mb-3" style="max-width: 30rem;">
        <div class="card-header">Administrar usuarios</div>
        <div class="card-body">
          <h5 class="card-title">Modificar, Eliminar</h5>
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
      </div>
   </div>
  </div>
  <h4 class="mt-5">Productos</h4>
   <div class="row">
   <div class="col">
      <div class="card grey lighten-2 mb-3" style="max-width: 30rem;">
        <div class="card-header">Administrar productos </div>
        <div class="card-body">
          <h5 class="card-title">Añadir, Eliminar, Modificar</h5>
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
      </div>
   </div>
   <div class="col">
      <div class="card grey lighten-2 mb-3" style="max-width: 30rem;">
        <div class="card-header">Agregar categorias</div>
        <div class="card-body">
            <h5 class="card-title">Añadir, Eliminar, Modificar</h5>
            <button type="button" class="btn btn-primary">Primary</button>
        </div>
      </div>
   </div>
</div>
</div>
