
.titulo{
    font-family: cursive;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.parrafo{
    font-family: cursive;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    border: black 1px solid;
}
.card{
    border: black 1px solid;
}