<div class="container">
    <h2 class="titulo">Cursos</h2>
    <p class="parrafo">Aqui encontraras todo acerca de el arte fondant</p>
</div>
<div class="container">
        <div class="row justify-content-between">
        <div class="dropdown ">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Categorias
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Todas las categorias</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
        </div>
        <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Ordenar por
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">Todas las categorias</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">JavaScript</a></li>
                </ul>
        </div>
        </div>
</div>
<div class="container">
        <br>
              <div class="card" style="max-width: 300px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="http://es.web.img2.acsta.net/r_1920_1080/newsv7/15/07/01/13/27/4943800.jpg" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">3D Minion</h5>
                      <p class="card-text">Dificultad:</p>
                      <p class="card-text">Inicio de Curso</p>
                      <p class="fecha"></p>
                      <a href="#">Más información <i class="fas fa-play"></i></a>
                    </div>
                  </div>
                </div>
              </div>
</div>
<app-footer></app-footer>
